@mixin scrollbar($size, $foreground-color, $background-color) {
  // for Chrome & Safari
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: calc($size / 2);
  }
  &::-webkit-scrollbar-track {
    background: $background-color;
  }
  // Standard version (Firefox only for now)
  scrollbar-color: $foreground-color $background-color;
}

@mixin addStepNums($num, $class) {
  @for $i from 1 through $num {
    &:nth-child(#{$i}) .#{$class}::after {
      content: "#{$i}";
    }
  }
}
