/* basic setting */
$body-bg: #f8f7fc;
$body-color: #18253d;
$white: #fff;
$main-blue: #001935;
$secondary-blue: #3c88fd;
$freedom-blue: #02b8ff;
$dark-gray: #4a4a4a;
$light-gray: #a7aaaf;

%standard-boxshadow {
  box-shadow: 3px 0 13px 0 rgba(100, 112, 134, 0.1);
}

$scroll-width: 6px;
$circle-size: 24px;
